## Golang ignores
coverage.out

cmd/modbus-mqtt/modbus-mqtt
cmd/joyblind/joyblind
cmd/loxone-proxy/loxone-proxy
cmd/mqtt-db-postgres/mqtt-db-postgres
cmd/homeautomation/homeautomation
cmd/i2c-eg/i2c-eg
cmd/flow-o/flow-o
cmd/flow-u/flow-u