[Unit]
Description=mqtt-influxdb
After=syslog.target network.target

[Service]
Type=simple
User=www-data
WorkingDirectory=/opt/mqtt-influxdb
ExecStart=/opt/mqtt-influxdb/bin/python /opt/mqtt-influxdb/mqtt-influxdb.py
Restart=always
RestartSec=1s

[Install]
WantedBy=multi-user.target
