[Unit]
Description=mqtt-postgres
After=syslog.target network.target

[Service]
Type=simple
User=www-data
WorkingDirectory=/opt/mqtt-db
ExecStart=/opt/mqtt-db/bin/python /opt/mqtt-db/mqtt-postgres.py
Restart=always
RestartSec=1s

[Install]
WantedBy=multi-user.target
