[Unit]
Description=modbus-mqtt
After=syslog.target network.target

[Service]
Type=simple
User=user
WorkingDirectory=/tmp
ExecStart=/opt/modbus-mqtt/bin/python /opt/modbus-mqtt/modbus-mqtt.py
Restart=always
RestartSec=1s

[Install]
WantedBy=multi-user.target
