[Unit]
Description=modbus-mqtt
After=syslog.target network.target

[Service]
Type=simple
User=rpoisel
WorkingDirectory=/tmp
ExecStart=/opt/modbus-mqtt
Restart=always
RestartSec=1s

[Install]
WantedBy=multi-user.target
