[Unit]
Description=mqtt-ws
After=syslog.target network.target

[Service]
Type=simple
User=www-data
WorkingDirectory=/opt/mqtt-ws
ExecStart=/opt/mqtt-ws/bin/python /opt/mqtt-ws/mqtt-ws.py
Restart=always
RestartSec=1s

[Install]
WantedBy=multi-user.target
